@use './variables';

html {
  font-size: 75%; // 12px
  line-height: 1rem;

  background-color: variables.$color_background;
  color: variables.$color_foreground;

  user-select: none;

  overflow: hidden;
  scrollbar-width: none;
}

body {
  min-height: variables.$size_min-height;

  background-color: variables.$color_background;
  color: variables.$color_foreground;
}

#app {
  min-height: variables.$size_min-height;
}

.layout {
  &-row {
    display: flex;
  }

  &-column {
    flex: 1;

    &.align-start {
      display: flex;
      justify-content: flex-start;
    }

    &.align-center {
      display: flex;
      justify-content: center;
    }

    &.align-end {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.icon {
  display: block;
  max-width: 100%;

  width: 1.75rem;
  height: 1.75rem;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;

  &.start {
    background-image: url('./assets/svg/start.svg');
  }

  &.stop {
    background-image: url('./assets/svg/stop.svg');
  }

  &.mute {
    background-image: url('./assets/svg/mute.svg');
  }

  &.unmute {
    background-image: url('./assets/svg/unmute.svg');
  }
}
