html {
  font-family: sans-serif;
  font-size: 75%; // 12px

  background-color: black;
  color: white;
}

body {
  min-height: 100dvh;
}

#app {
  min-height: 100dvh;
}

.layout {
  &-row {
    display: flex;
  }

  &-column {
    flex: 1;

    &--align-start {
      justify-content: flex-start;
    }

    &--align-center {
      justify-content: center;
    }

    &--align-end {
      justify-content: flex-end;
    }
  }
}
