@use './variables.scss';

#overlay {
  display: grid;
  grid-template-rows: auto 1fr auto;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  min-height: 100dvh;
}

.overlay {
  &-header {
    margin: 0 auto;
    padding: 2rem;

    width: variables.$overlay-width;
  }

  &-branding {
    display: flex;
    justify-content: center;
  }

  &-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-footer {
    margin: 0 auto;
    padding: 2rem;

    width: variables.$overlay-width;
  }

  &-tabs {
  }

  &-toggles {
    display: flex;
    justify-content: center;
  }
}

.progress {
  &-bar {
    margin: 1rem 0 1.5rem 0;

    width: 60%;
    height: 0.25rem;
    max-width: 192px;

    background-color: hsla(0, 0%, 100%, 0.12);

    border-radius: 1rem;
  }

  &-indicator {
    height: 100%;

    background-color: hsla(0, 0%, 100%, 1);

    border-radius: 1rem;

    transition: width 0.48s;
  }

  &-text {
  }
}

.tabs {
  &-viewer {
    display: flex;
    list-style: none;
  }

  &-view {
    &--open {
      display: initial;
      width: 100%;
    }

    &--closed {
      display: none;
    }
  }

  &-switcher {
    display: flex;
    justify-content: center;

    list-style: none;
  }

  &-switch {
    &--active {
      opacity: initial;
    }

    &--inactive {
      opacity: 0.6;
    }
  }
}

.scenes {
  &-switcher {
    display: flex;
    justify-content: center;

    list-style: none;
  }

  &-switch {
    &--active {
      opacity: initial;
    }

    &--inactive {
      opacity: 0.6;
    }
  }
}
