@use './variables';

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

html,
body {
  font-family: 'ABeeZee', sans-serif;
  letter-spacing: 0.06em;
}

a,
.a {
  color: variables.$color_text;

  text-decoration: none;
}

.link {
  color: variables.$color_text;

  border-bottom: 0.125rem solid variables.$color_link-indicator;

  cursor: pointer;

  &:hover,
  // &:focus,
  &:active {
    border-bottom: 0.125rem solid variables.$color_link-indicator--hover;
  }
}

h1,
.h1 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h2,
.h2 {
  margin-bottom: 0.25rem;

  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
}

.subtitle {
  display: block;

  color: variables.$color_subtitle;
}
