@use './variables';

.tabs {
  &-viewer {
    padding: 2rem;

    background-color: variables.$color_tabs;
    border-radius: variables.$size_border-radius;

    list-style: none;
  }

  &-view {
    &.open {
      display: initial;
    }

    &.closed {
      display: none;
    }

    > .subtitle {
      margin-bottom: 2rem;
    }
  }

  &-switcher {
    display: flex;
    justify-content: center;

    margin-top: 1rem;

    background-color: variables.$color_tabs-switcher;
    border-radius: variables.$size_border-radius;

    list-style: none;

    > li {
      flex: 1;
    }
  }

  &-switch {
    appearance: none;

    padding: 1rem 2rem;

    width: 100%;

    color: variables.$color_text;

    border: none;
    border-radius: variables.$size_border-radius;

    cursor: pointer;

    &.active {
      background-color: variables.$color_tabs-switch--active;
    }

    &.inactive {
      background-color: variables.$color_tabs-switch--inactive;
    }

    &:hover {
      background-color: variables.$color_tabs-switch--hover;
    }
  }
}

.sections {
  &-viewer {
    margin-bottom: 2rem;

    list-style: none;
  }

  &-view {
    &.open {
      width: 100%;
    }

    &.closed {
      display: none;
    }
  }
}

@import './tab.scss';
