@use './variables';

.toggles {
  &-button {
    width: 5rem;

    color: variables.$color_text;
    background-color: transparent;

    border: none;

    cursor: pointer;
  }

  &-indicator {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto 0.5rem auto;

    width: 4rem;
    height: 4rem;

    background-color: variables.$color_toggles-indicator;
    border: 2px solid variables.$color_text;
    border-radius: 2rem;
  }

  &-button:hover {
    .toggles-indicator {
      background-color: variables.$color_toggles-indicator--hover;
    }
  }

  &-button:focus,
  &-button:active {
    .toggles-indicator {
      background-color: variables.$color_toggles-indicator--focus;
    }
  }

  &-text {
  }
}
